.Phonetic {
  height: 40px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
  color: palevioletred;
}

.Phonetic a:hover {
  background: pink;
  color: gray;
}
.Phonetic .text {
  opacity: 0.8;
  font-weight: bold;
}

.Phonetic .material-symbols-outlined {
  padding: 5px;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}
